nfl_stats_2014.csv
nfl_stats_cleaned.csv
nfl_stats_defenses_2014.csv
nfl_stats_kickers_2014.csv
projected_stats.csv
years_2011_fantasy_fantasy.csv
years_2012_fantasy_fantasy.csv
years_2013_fantasy_fantasy.csv
years_2014_fantasy_fantasy.csv
SimpleSim.R
cleaning_old_data.R
diffCalc.R
FantasyStats2014.xlsx
Thu_Aug_20_2015_2130.RData
