
<html>
  <head>

  </head>

  <body>
    <title>{% block title %} Draft Room {% endblock title %}</title>
     

    <h1> Welcome to the draft room. We are going to optimize the heck out of your draft. </h1>

    {% block content %}

    {% endblock %}

    {% block navbar %}
      
    {% endblock navbar %}
    

    <table>
    {% for k, v in team|dictsort %}
      sort the dict by key, case insensitive<tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>


  </body>
</html>