
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <title>{% block title %} Draft Room {% endblock title %}</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='draft_room_base.css') }}" type="text/css" />
  </head>

  <body>


     
    <h1> Welcome to the draft room. We are going to optimize the fuck out of your draft. </h1>
  
    <section>
      <h2> Draft Status </h2>
        <div> 
          <h3> On the Clock </h3>
          <ul>
            
            <li> Team: {{ pick.team_id }} </li> 
            <li> Owner: {{ pick.team.owner_name }} </li>
            <li> Round: {{ pick.round_number }} </li> 
            <li> Pick: {{ pick.id % pick.round_number + 1}} </li>
          </ul>
        </div>
        <div>
          <h3> Draft Order </h3>

    </section>
    {% block content %}

    {% endblock %} 


      {% block navbar %}
        
      {% endblock navbar %}



    <section id="players">
      <div> 
        {% for i, calc in calcs.items() %}
        <p>{{i}}</p> <p> {{ calc[0] }}</p>
        {% endfor %}
      </div>

      <div id="tab-group">
        <h2 class="tab-header active" id="tab-header-1"> All </h2>
          <div class="tab-content active" id="tab-content-1"> 
            <table class="all_players"> 
              <th>
                <tr>
                  <td> Name </td>
                  <td> Position </td>
                  <td> Bye </td>
                  <td> Projected Points </td>
                </tr>
              </th>
              <tbody>
                {% for player in players.all()[:50] %}
                <tr class="player_row">
                  <td> {{ player.name }} </td>
                  <td> {{ player.position }} </td>
                  <td> {{ player.bye_week }} </td>
                  <td> {{ player.points }} </td>
                  <td class: "select-player-button">  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>



        <h2 class="tab-header" id="tab-header-2"> QBs </h2>
          <div class="tab-content" id="tab-content-2"> 
            <table class="positional_table" id="qbs">
              <th>
                <tr >
                  <td> Name </td>
                  <td> Position </td>
                  <td> Bye </td>
                  <td> Projected Points </td>
                  <td> Probability </td>
                </tr>
              </th>
              <tbody>
                {% for player in players.filter_by(position = "QB").all()[:30] %}
                <tr class="player_row">
                  <td> {{ player.name }} </td>
                  <td> {{ player.position }} </td>
                  <td> {{ player.bye_week }} </td>
                  <td> {{ player.points }} </td>
                  <td> {{ calcs[player.position][1][loop.index0] }} </dt> 
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        <h2 class="tab-header" id="tab-header-3"> RBs </h2>
          <div class="tab-content" id="tab-content-3"> 
            <table class="positional_table" id="rbs"> 
              <th>
                <tr>
                  <td> Name </td>
                  <td> Position </td>
                  <td> Bye </td>
                  <td> Projected Points </td>
                  <td> Probability </td>
                </tr>
              </th>
              <tbody>
                {% for player in players.filter_by(position = "RB").all()[:30] %}
                <tr class="players_row">
                  <td> {{ player.name }} </td>
                  <td> {{ player.position }} </td>
                  <td> {{ player.bye_week }} </td>
                  <td> {{ player.points }} </td>
                  <td> {{ calcs[player.position][1][loop.index0] }} </dt> 
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
   

        <h2 class="tab-header" id="tab-header-4"> WRs </h2>
          <div class="tab-content" id="tab-content-4">    
            <table class="positional_table" id="wrs"> 
              <th>
                <tr>
                  <td> Name </td>
                  <td> Position </td>
                  <td> Bye </td>
                  <td> Projected Points </td>
                </tr>
              </th>
              <tbody>
                {% for player in players.filter_by(position = "WR/TE").all()[:30] %}
                <tr class="players_row">
                  <td> {{ player.name }} </td>
                  <td> {{ player.position }} </td>
                  <td> {{ player.bye_week }} </td>
                  <td> {{ player.points }} </td>
                  <td> {{ calcs[player.position][1][loop.index0] }} </dt>           
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        <h2 class="tab-header" id="tab-header-5"> Flex </h2>
          <div class="tab-content" id="tab-content-5"> 
            <table class="positional_table" id="flex"> 
              <th>
                <tr>
                  <td> Name </td>
                  <td> Position </td>
                  <td> Bye </td>
                  <td> Projected Points </td>
                  <td> Projected Points </td>                  
                </tr>
              </th>
              <tbody>
                {% for player in players.filter(Player.position.in_(["RB", "WR/TE"])).all()[:30] %}
                <tr class="players_row">
                  <td> {{ player.name }} </td>
                  <td> {{ player.position }} </td>
                  <td> {{ player.bye_week }} </td>
                  <td> {{ player.points }} </td>
                  <td class: "select-player-button">  </td>                  
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </section>









    <section id="our_team">
      <div id="dick_frames" class="roster">
        <table>
          <caption><h3> Dick Frames </h3></caption>
          <th>
            <tr> 
              <td> Position </td>
              <td> Player </td>
            </tr>
          </th>    
        {% for pos, name in teams[5] %}
            <tr>
              <td> {{ pos }} </td>
              <td> {{ name }} </td>
            </tr>
        {% endfor %}
        </table>
      </div>
<!--       <div class="bye_weeks">
          <h4> Bye Week Counter </h4>
          <ol start="4">
            {% for week in range(4,12): %}
            <li> {{ bye_counter[week][0] }} , <div> {% for i in bye_counter[week][1]: %} i  {% endfor %}</div></li>
            {% endfor %}
          </ol>
      </div> -->

    </section>


    <section id="rosters"><h2>Current Rosters</h2>
      <div id="roster-tab-group">
        <h3 class="roster-tab-header active" id="roster-tab-header-1"> Team 1 </h3>
          <div class="roster-tab-content active" id="roster-tab-content-1"> 
            <table>
              <th>
                <tr> 
                  <td> Position </td>
                  <td> Player </td>
                </tr>
              </th>    
            {% for pos, name in teams[1] %}
                <tr>
                  <td> {{ pos }} </td>
                  <td> {{ name }} </td>
                </tr>
            {% endfor %}
            </table>
          </div>

        <h3 class="roster-tab-header" id="roster-tab-header-2"> Team 2 </h3>
          <div class="roster-tab-content" id="roster-tab-content-2"> 
            <table>
              <th>
                <tr> 
                  <td> Position </td>
                  <td> Player </td>
                </tr>
              </th>    
            {% for pos, name in teams[2] %}
                <tr>
                  <td> {{ pos }} </td>
                  <td> {{ name }} </td>
                </tr>
            {% endfor %}
            </table>
          </div>

        <h3 class="roster-tab-header" id="roster-tab-header-3"> Team 3 </h3>
          <div class="roster-tab-content" id="roster-tab-content-3"> 
            <table>
              <th>
                <tr> 
                  <td> Position </td>
                  <td> Player </td>
                </tr>
              </th>    
            {% for pos, name in teams[3] %}
                <tr>
                  <td> {{ pos }} </td>
                  <td> {{ name }} </td>
                </tr>
            {% endfor %}
            </table>
          </div>



      <h3 class="roster-tab-header" id="roster-tab-header-4"> Team 4 </h3>
        <div class="roster-tab-content" id="roster-tab-content-4"> 
          <table>
            <th>
              <tr> 
                <td> Position </td>
                <td> Player </td>
              </tr>
            </th>    
          {% for pos, name in teams[4] %}
              <tr>
                <td> {{ pos }} </td>
                <td> {{ name }} </td>
              </tr>
          {% endfor %}
          </table>
        </div>


      <h3 class="roster-tab-header" id="roster-tab-header-5"> Team 6 </h3>
          <div class="roster-tab-content" id="roster-tab-content-5"> 
            <table>
              <th>
                <tr> 
                  <td> Position </td>
                  <td> Player </td>
                </tr>
              </th>    
            {% for pos, name in teams[6] %}
                <tr>
                  <td> {{ pos }} </td>
                  <td> {{ name }} </td>
                </tr>
            {% endfor %}
            </table>
          </div>

      <h3 class="roster-tab-header" id="roster-tab-header-6"> Team 7 </h3>
          <div class="roster-tab-content" id="roster-tab-content-6"> 
            <table>
              <th>
                <tr> 
                  <td> Position </td>
                  <td> Player </td>
                </tr>
              </th>    
            {% for pos, name in teams[7] %}
                <tr>
                  <td> {{ pos }} </td>
                  <td> {{ name }} </td>
                </tr>
            {% endfor %}
            </table>
          </div>

      <h3 class="roster-tab-header" id="roster-tab-header-7"> Team 8 </h3>
          <div class="roster-tab-content" id="roster-tab-content-7"> 
            <table>
              <th>
                <tr> 
                  <td> Position </td>
                  <td> Player </td>
                </tr>
              </th>    
            {% for pos, name in teams[8] %}
                <tr>
                  <td> {{ pos }} </td>
                  <td> {{ name }} </td>
                </tr>
            {% endfor %}
            </table>
          </div>

      <h3 class="roster-tab-header" id="roster-tab-header-8"> Team 9 </h3>
          <div class="roster-tab-content" id="roster-tab-content-8"> 
            <table>
              <th>
                <tr> 
                  <td> Position </td>
                  <td> Player </td>
                </tr>
              </th>    
            {% for pos, name in teams[9] %}
                <tr>
                  <td> {{ pos }} </td>
                  <td> {{ name }} </td>
                </tr>
            {% endfor %}
            </table>
          </div>

      <h3 class="roster-tab-header" id="roster-tab-header-9"> Team 10 </h3>
          <div class="roster-tab-content" id="roster-tab-content-9"> 
            <table>
              <th>
                <tr> 
                  <td> Position </td>
                  <td> Player </td>
                </tr>
              </th>    
            {% for pos, name in teams[10] %}
                <tr>
                  <td> {{ pos }} </td>
                  <td> {{ name }} </td>
                </tr>
            {% endfor %}
            </table>
          </div>
      
    </section>

    <script>
    "use strict";

    document.addEventListener('DOMContentLoaded', function() {
      document.getElementById('tab-group').className = 'ready';
        var tabHeaders = document.getElementsByClassName('tab-header');

        for (var i = 0; i < tabHeaders.length; i++) {
          tabHeaders[i].addEventListener('click', activateTab);
        }

        
        document.getElementById('roster-tab-group').className = 'ready';
        var rosterTabHeaders = document.getElementsByClassName('roster-tab-header');

        for (var a = 0; a < rosterTabHeaders.length; a++) {
          rosterTabHeaders[a].addEventListener('click', activateRosterTab);
        }

      function activateTab(event) {
        var myID = this.id,
          contentID = myID.replace('header', 'content');
    
          deactivateAllTabs();
        
        document.getElementById(contentID).className = 'tab-content active';
        document.getElementById(myID).className = 'tab-header active';
      }

      function deactivateAllTabs() {
        var deactivatedHeaderTabs = document.getElementsByClassName('tab-header active');
         for (var i = 0; i < deactivatedHeaderTabs.length; i++) {
         deactivatedHeaderTabs[i].className = 'tab-header';
        }

        var deactivatedContentTabs = document.getElementsByClassName('tab-content active');
       
        for (var i = 0; i < deactivatedContentTabs.length; i++) {
          deactivatedContentTabs[i].className = 'tab-content';
        }
      }
      
      function activateRosterTab(event) {
        var myID = this.id,
          contentID = myID.replace('header', 'content');
    
          deactivateAllRosterTabs();
        
        document.getElementById(contentID).className = 'roster-tab-content active';
        document.getElementById(myID).className = 'roster-tab-header active';
      }

      function deactivateAllRosterTabs() {
        var deactivatedHeaderRosterTabs = document.getElementsByClassName('roster-tab-header active');
        var deactivatedContentRosterTabs = document.getElementsByClassName('roster-tab-content active');
        for (var i = 0; i < deactivatedHeaderRosterTabs.length; i++) {
         deactivatedHeaderRosterTabs[i].className = 'roster-tab-header';
       }
        for (var i = 0; i < deactivatedContentRosterTabs.length; i++) {
          deactivatedContentRosterTabs[i].className = 'roster-tab-content';
        }
      }
      
    });


    </script>


  </body>
</html>





